*.apk
*.obb
*.csv
*.tsv
*.json
tips.txt
avatar.txt
illustration.txt
single.txt
temp/
avatar/
Chart_EZ/
Chart_HD/
Chart_IN/
Chart_AT/
Illustration/
IllustrationBlur/
IllustrationLowRes/
music/
splited_music/
phira/
save/
__pycache__/